.SystemChatTitle {
    font-family: "NanumSquareOTFB";
    margin: 0;
}

.SystemChatContents {
    font-family: "NanumSquareOTFB";
    margin: 0;
}

.SystemChatContents > .highlight {
    animation: colorChange 1s ease-in-out forwards;
    -webkit-animation: colorChange 1s ease-in-out forwards;
}

@keyframes colorChange {
    0%   { color: black;}
    25%  { color: white;}
    100% { color: red}
}