/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

@font-face {
  font-family: 'NanumSquareOTFR';
  src: url('./fonts/nanumsquare/NanumSquareR.ttf') format('truetype'), url('./fonts/nanumsquare/NanumSquare_acR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareOTFL';
  src: url('./fonts/nanumsquare/NanumSquareL.ttf') format('truetype'), url('./fonts/nanumsquare/NanumSquare_acL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareOTFB';
  src: url('./fonts/nanumsquare/NanumSquareB.ttf') format('truetype'), url('./fonts/nanumsquare/NanumSquare_acB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareOTFEB';
  src: url('./fonts/nanumsquare/NanumSquareEB.ttf') format('truetype'), url('./fonts/nanumsquare/NanumSquare_acEB.ttf') format('truetype');
}


@font-face {
  font-family: 'NotoSansKR-Black';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR-Bold';
  src: local('NotoSansKR-Bold'), url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR-Light';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
  font-family: 'NotoSansKR-Medium';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'NotoSansKR-Thin';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'NotoSansKR-Bold'; */
}

body {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
